@media {
    body {
        align-items: center;
        color: black;
        display: flex;
        font-weight: bolder;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
    }

}

@media {
    screen {
        background: gray;
        display: flex;
        flex-direction: column;
        height: 0;
        position: relative;
    }

    pixel {
        /* border: 1px solid rgba(0,0,0,0.5); */
        box-sizing: border-box;
        display: inline-flex;
        height: calc(100%/16);
        width: calc(100%/16);
    }
    
    @media (orientation: landscape) {
        screen {
            background: gray;
            height: calc(100vh);
            width: calc(110vh);
        }
    }

    @media (orientation: portrait) {
        screen {
            background: gray;
            flex-wrap: nowrap;
            height: 90vw;
            position: relative;
            width: 100%;
        }
    }

    matrix {
        display: inline-flex;
        flex-wrap: wrap;
        height: calc(100%/9);
        position: relative;
        width: 10%;
    }
}
