@media {
    screen > header {
        
    }
    
    screen > section {
        margin: 50px 0;
    }
    
    screen > footer {
        bottom: 0;
        color: #080808;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: bolder;
        height: 36px;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
    }
}

@media {
    screen > header > picture:nth-child(1) {
        margin: 5% auto 0;
        width: calc(200%/3);
    }
    
    screen > footer > picture:nth-child(1) {
        margin: 5% auto 0;
        width: calc(200%/3);
    }
}