@media {
    body {
        align-items: center;
        color: black;
        display: flex;
        font-weight: bolder;
        justify-content: center;
        text-transform: uppercase;
    }
}

@media {
    screen {
        background: gray;
        display: block;
        height: 0;
        position: relative;
        height: calc(100vh);
        width: calc(110vh);
    }

    pixel {
        /* border: 1px solid rgba(0,0,0,0.5); */
        box-sizing: border-box;
        display: inline-flex;
        height: calc(100%/16);
        width: calc(100%/16);
    }

    matrix {
        display: inline-flex;
        flex-wrap: wrap;
        height: calc(100%/9);
        position: relative;
        width: 10%;
    }

    @media {
        screen > matrix > block {
            border: 2px solid;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            font-family: Arial;
            font-size: 24px;
            gap: 20px;
            margin: 10px;
            padding: 20px;
            width: calc(200%/3);
        }

        screen > matrix > block > header {
            display: flex;
            flex-direction: column;
            font-family: Arial;
            font-size: 24px;
            gap: 20px;
            margin: 0;
            padding: 0;
        }

        screen > matrix > block > footer {
            margin-top: 100px;
        }
    }

    matrix {
        display: inline-flex;
        flex-wrap: wrap;
        height: calc(100%/9);
        position: relative;
        width: 10%;
    }
}
